// Specific CSS for your home-page
.wrapper {
  background: linear-gradient(to right, #363E8D, #0575E6);
  min-height: 100vh;
}
.home h1 {
  color: white;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
}
h2,h3 {
  color: white;
  font-weight: lighter;
  text-align: center;
  font-size: 14px;
}
h2 {
  margin-top: -10px;
}
h3 {
  margin-top: 5px;
}
.form-post {
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}
.form-inputs input {
  border-radius: 30px;
  text-align: center;
}
.links {
  text-align: center;
  a {
    color: white;
    font-size: 12px;
    font-weight: lighter;
  }
}
.type-text {
  margin-top: 5px;
  text-align: center;
  color: white;
  font-size: 30px;
  .typed-cursor {
    color: $pink;
    font-size: 20px;
  }
}
.counter h1 {
  margin-top: 20px;
}
.footer h2 {
  font-size: 18px;
  margin-top: 45px;
  margin-bottom: 0px;
}


// modal

.modal-content {
  margin-top: 100px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 40px;
  text-align: center;
  color: $blue;
  border-radius: 30px;
  h1 {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}
