
<div class="wrapper">

  <button type="button" class="btn btn-emile" data-toggle="modal" data-target=".bs-example-modal-lg">Je partage</button>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <h1>Un peu de patience...</h1>
        <p>Nous avons besoin de plus d'adresses... ça arrive, ça arrive.. Nous vous tiendrons informés dès que nous serons proches du but :)</p>
        <%= link_to "Tip top Emile", root_path, class: "btn btn-emile"  %>
      </div>
    </div>
  </div>
</div>
