<div class="navbar-wagon">
  <!-- Logo -->
  <a href="" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'Se connecter'.html_safe, new_user_session_path %>
  </div>
</div>

<div class="banner" style="background-position: center; background-image: linear-gradient(-225deg, rgba(0,101,168,0.25) 0%, rgba(0,36,61,0.3) 50%), url('https://sejours-homeabroad.com/wp-content/uploads/2018/08/aux-folie-folles-1.jpg');">
  <div class="text-content">
    <h1>UNE ADRESSE, UNE ÉMOTION.</h1>
    <p style="margin-bottom: 0px;">Partagez votre adresse coup de coeur à Paris</p>
    <p>et découvrez les spots les plus populaires autour de vous</p>
    <%= link_to '<p>C\'EST PARTI !</p>'.html_safe, root_path, id: 'btn-landing', class: 'btn btn-emile cestp'%>
  </div> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-10">
      <div class="content-card text-content">
        <h1><span class="pink" id="pink">203</span> adresses ont été partagées.</h1><h1>À 1000, Émile envoie la sauce !</h1>
        <br>
        <p>Qui n'a jamais ressenti cet état d'excitation, cet effet "whaou" "excellent" "oufissime" en découvrant une bonne adresse pour la première fois.</p>
        <br>
        <p>La mission d'Émile, demander à chacun de partager sa bonne adresse de quartier, cette même adresse qui vous a fait vibrer.</p>
        <br>
        <p>Une fois les 1000 adresses partagées à Paris, Émile libérera et géolocalisera toutes les bonnes adresses autour de vous.</p>
        <br>
        <p>Pas de note, pas de commentaire négatif. Avec Émile, c'est que du kiff !</p>
      </div>
      
    </div>
  </div>
  <div class="row">
   <div class="col-xs-12">
      <%= link_to '<p>PARTAGER MA BONNE ADRESSE</p>'.html_safe, root_path, id: 'btn-2', class: 'btn btn-emile flex'%>
   </div> 
  </div>
</div>

<div class="container">
  
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-10">
      <div class="content-card text-content border-top">
        <h1>L'art de vivre à la française<span class="pink">.</span></h1>
        
        <br>
        <p>Chaque jour, des femmes et des hommes se lèvent tôt et veillent jusque tard pour nous accueillir dans leurs établissements.</p>
        <br>
        <p>Chaque plat servi, chaque verre qui se remplit, est une invitation à vivre l'instant présent et à profiter des bonnes choses de la vie.</p>
        <br>
        <p>Chaque jour, ces femmes et ces hommes contribuent à façonner notre art de vivre, cet art de vivre à la française que le monde entier nous envie.</p>
        <br>
        <p>Émile et une adresse.com est un hommage à tous ces artistes du matin, du midi et du soir.</p>
      </div>
    </div>
  </div>
  <div class="row">
   <div class="col-xs-12">
      <%= link_to '<p>PARTAGER MA BONNE ADRESSE</p>'.html_safe, root_path, id: 'btn-2', class: 'btn btn-emile flex'%>
   </div> 
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="col-xs-4-offset-4 col-sm-4-offset-4 margin-bottom">
      ©2018 - Émile et une adresse <i class="fa fa-heart pinkk"></i>
      <br>
      www.emiletuneadresse.com - Tous droits réservés
    </div>
  </div>
</div>