<div class="navbar-wagon">
  <!-- Logo -->
  <a href="#text" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="#text" class="navbar-wagon-item navbar-wagon-link">Bienvenue sur le site Emile et une adresse</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
<!--   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div> -->
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/random');">
  <div class="text-content">
    <h1>UNE ADRESSE, UNE EMOTION</h1>
    <p>Partager votre adresse coup de coeur à Paris et découvrez les spots les plus populaires autour de vous</p>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <a href="#text" class="btn btn-emile">C'EST PARTI !</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-2 col-md-8">
      <div class="content text-content" id='text'>
        <h1>203 adresses ont été partagées. À 1000, Émile envoie la sauce !</h1>
        <br>
        <p>Qui n'a jamais ressenti cet état d'excitation, cet effet "whaou" "excellent" "oufissime" en découvrant une bonne adresse pour la première fois.</p>
        <br>
        <p>La mission d'Émile, demander à chacun de partager sa bonne adresse de quartier, cette même adresse qui vous a fait vibrer.</p>
        <br>
        <p>Une fois les 1000 adresses partagées à Paris, Émile libérera et géolocalisera toutes les bonnes adresses autour de vous.</p>
        <br>
        <p>Pas de notes, pas de commentaires négatifs,</p>
        <br>
        <p>Avec Émile, c'est que du kiff ! Partagez votre adresse préférée !</p>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <a class="btn btn-emile width-2">PARTAGER</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-2 col-md-8">
      <div class="content text-content border-top">
        <h1>Vive l'art de vivre à la française</h1>
        <br>
        <p>Chaque jour, des femmes et des hommes se lèvent tôt et veillent jusque tard pour nous accueillir dans leurs établissements.</p>
        <br>
        <p>Chaque plat servi, chaque verre qui se remplit, est une invitation à vivre l'instant présent et à profiter des bonnes choses de la vie.</p>
        <br>
        <p>Chaque jour, ces femmes et ces hommes contribuent à façonner notre art de vivre, cet art de vivre à la française que le monde entier nous envie.</p>
        <br>
        <p>Émile et une adresse.com est un hommage à tous ces artistes du matin, du midi et du soir.</p>
        <a class="btn btn-emile width-2">PARTAGER</a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="col-xs-4-offset-4 col-sm-4-offset-4 margin-bottom">
      © 2015 Tranquille Émile - Tous droits réservés.
      Emile et une adresse pour vous servir <i class="fa fa-heart"></i>
    </div>
  </div>
</div>