<div class="navbar-emile">
</div>
<div class="wrapper">
  <div class="modal fade" id= "modal-id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" id="modal-content">
        <%= image_tag("Logo_seul_grand.png", width: '150') %>
        <h1>1000 mercis pour cette adresse !</h1>
        <p>Grâce à vous, Émile se rapproche des 1000 adresses et l'application sera bientôt ouverte à tous les membres de la communauté. </p>
        <p class="margin-bottom-reduce">Le jour J, Émile vous tiendra informé par e-mail.</p>
        <p>À très vite !</p>
        <!-- <%= link_to t(".sign_in", default: "En savoir plus"), new_user_session_path, class: "btn btn-emile", style: "padding:5px;"%> -->
<!--           <input type="button" class="btn btn-emile" id="modal-id-2" value="En savoir plus" onclick="window.location.href='http://www.tranquilleemile.com/'" /> -->
      </div>
    </div>
  </div>
</div>
