<div class="navbar-emile">
</div>
<div class="wrapper">
  <div class="modal fade" id= "modal-id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" id="modal-content">
        <h1>Merci pour cette bonne adresse !</h1>
        <p>Encore un peu de patience, l’application sera bientôt ouverte à tous. </p>
        <p>Le jour J, Émile vous tiendra informé par e-mail <i class="fa fa-heart pinkk"></i></p>
        <!-- <%= link_to t(".sign_in", default: "En savoir plus"), new_user_session_path, class: "btn btn-emile", style: "padding:5px;"%> -->
<!--           <input type="button" class="btn btn-emile" id="modal-id-2" value="En savoir plus" onclick="window.location.href='http://www.tranquilleemile.com/'" /> -->
      </div>
    </div>
  </div>
</div>
