<div class="navbar-emile">
</div>
<div class="wrapper">
  <div class="modal fade" id= "modal-id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" id="modal-content">
        <%= image_tag("Logo_seul_grand.png", width: '150') %>
        <h1>Vous avez déjà partagé 5 coups de coeur avec nous.</h1>
        <p>Nous revenons vers vous très vite pour vous permettre de partager plus d'adresses.</p>

        <%= link_to '<p style="padding: 0;">EXPLORER</p>'.html_safe, places_path, id: 'btn-2', class: 'btn btn-emile flex margin-top-24px'%>
      </div>
    </div>
  </div>
</div>
