#modal-id-2 {
  padding: 10px 50px;
}
.control-label {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
.form-control {
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
}
.form-control.select.required {
  padding-left: 120px;
}

abbr[title], abbr[data-original-title] {
  display: none;
}
.form-post {
  .fa.fas.fa-check-circle {
    position: absolute;
    z-index: 1;
    bottom: 126px;
    right: 35px;
    color: green;
  }
}

.form-control.text.optional {
  font-size: 16px;
  border-radius: 5px;
  height: 110px;
}

// .radio {
//   width: 300px;
// }

.radio input:checked {
  color: $pink;
}

.radio label {
  padding: 6px 12px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  border: 1px solid $pink;
  color: white;
}

.active {
  background-color: $pink !important;
  color: white !important;
}

.home {
  h1 {
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  }
}

.radio input:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $pink;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
