.control-label {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

abbr[title], abbr[data-original-title] {
  display: none;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  width: 0px;
}

.radio label {
  padding: 6px 12px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
  border: 1px solid $pink;
  color: white;
  &:hover {
    background-color: $pink;
    color: white !important;
  }
}

// Javascript on click

.active {
  background-color: $pink;
  color: white !important;
}

.home {
  h1 {
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  }
}
