.search-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
  label {
    display: inline-block;
    width: 45vh;
    margin-bottom: 5px;
    // font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 6px 12px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 58, 104);
    border-image: initial;
  }
}

@media (min-width:801px) {
  #search_field {
    width: 950px;
  }
  .search-field label {
    width: 900px;

  }
}

.few-results {
  background-color: white;
  color: $pink;
  text-align: center;
  padding: 10px 20px;
  margin-top: 350px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 30px;
  p {
    margin: 0px !important;
  }
}
.search-bar .form-control {
  position: relative;
  border-radius: 30px;
  text-align: center;
  width: 90vw;
  margin: 10px 0px 15px 0px;
}
.fa.fas.fa-check-circle {
  position: absolute;
  z-index: 1;
  top: 125px;
  right: 30px;
  color: green;
}

@media (min-width: 500px) {
  .search-bar .form-control {
    position: relative;
  }
  .fa.fas.fa-check-circle {
    position: absolute;
    z-index: 1;
    top: 30px;
  }
}
.btn.btn-emile {
  margin-bottom: 20px;
  width: 100%;
  font-weight: bold;
  padding: 10px 100px;
}
