.search-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    width: 65%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 6px 12px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 58, 104);
    border-image: initial;
  }
}
.few-results {
  background-color: white;
  color: $pink;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  p {
    margin: 0px !important;
  }
}
.search-bar .form-control {
  border-radius: 30px;
  text-align: center;
  padding-right: 60px;
  margin: 10px 0px 15px 0px;
}
.btn.btn-emile {
  margin-bottom: 20px;
  width: 100%;
}
.card-category h1 {
  width: 150px;
}
