.photo {
  background-size: cover !important;
  background-position: center;
  height: 350px;
  .card {
    margin-bottom: 10px;
  }
}
.show {
  color: $blue;
}
.big-infos {
  position: relative;
  padding: 120px;
  .fa {
    color: $pink !important;
  }
}
.name {
  position: absolute;
  left: 20px;
  top: 5px;
}
.hearts {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 15px;
  top: -5px;
  p {
    padding-top: 10px;
    padding-right: 5px;
  }
}
.type {
  position: absolute;
  left: 20px;
  top: 27px;
}
.budget {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 20px;
  top: 60px;
  p {
    font-size: 12px;
  }
}
.number {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 20px;
  top: 85px;
  .fa {
    padding-right: 5px;
  }
}
.website {
  position: absolute;
  left: 20px;
  top: 110px;
}
.other-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.show-content {
  padding: 20px;
}
.comment-box {
  border: 1px solid $blue;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
// javascript button on clicked
.button-clicked {
  color: $pink !important;
  background-color: white !important;
  border: 1px solid $pink !important;
}
