.photo {
  background-size: cover !important;
  background-position: center;
  height: 350px;
  .card {
    margin-bottom: 10px;
    height: 200px;
  }
}
.show {
  color: $blue;
}
.big-infos {
  width: 55vh;
  position: relative;
  padding: 120px;
  .fa {
    color: $pink !important;
  }
}
.name {
  position: absolute;
  left: 20px;
  top: 5px;
  font-size: 20px;
  font-weight: bold;
}
.hearts {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 5px;
  top: 0px;
  p {
    padding-top: 10px;
    padding-right: 5px;
  }
}
.budget {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 20px;
  top: 70px;
  p {
    font-size: 16px;
    margin-left: 10px;
  }
  .fa {
    padding-right: 5px;
    padding-bottom: 10px;
  }
}
.number {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  left: 20px;
  top: 105px;
  .fa {
    padding-right: 5px;
  }
}
.website {
  position: absolute;
  left: 20px;
  top: 140px;
  .fa {
    padding-bottom: 10px;
  }
}
.hours p {
  position: absolute;
  left: 20px;
  top: 510px;
}
ul, ol {
  margin-top: 25px;
}
ul li {
  /* Bullet color */
  color: $pink;
  list-style-type: disc;
  margin-right: 10px;
}
ul li span {
  /* Text color */
  color: $blue;
}
.other-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  .btn {
    width: 50%;
    padding: 10px;
  }
}
.show-content {
  padding: 20px;
}
.comment-box {
  border: 1px solid $blue;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
// javascript button on clicked
.button-clicked {
  color: $pink !important;
  background-color: white !important;
  border: 1px solid $pink !important;
}

.map {
  width: 100vw;
}

@media (min-width:801px) {
  .map {
    width: 40vw;
    position: absolute;
    top: 285px;
    right: 30px;
  }
}
