/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  background-color: $pink;
  color: white;
  opacity: 0.8;
  border: none;
  margin-bottom: 25px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
