.photo .card {
  width: 100vw;
}
.card {
  width: 180px;
  height: 150px;
  margin-bottom: 10px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  &:hover {
    background-color: black;
  }
  .fa {
    color: $pink;
  }
}
.content {
  padding-left: 190px;
  width: 50vh;
}
.card-category {
  text-transform: uppercase;
  width: 50vh;
  h1 {
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  p {
    font-size: 10px;
  }
}
.card-description {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.card-heart {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  display: flex;
  p {
    margin-right: 5px;
    font-size: 14px;
  }
}

