.photo .card {
  width: 100vw;
}
.card {
  height: 150px;
  border: 1px solid #f4f4f475;
  margin-bottom: 120px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  &:hover {
    background-color: black;
  }
  .fa {
    color: $pink;
  }
}
.content {
  padding-top: 150px;
}
.card-category {
  h1 {
    text-transform: uppercase;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    width: 450px !important;
  }
  p {
    font-size: 12px;
    font-weight: lighter;
    color: white;
  }
}
.card-description {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.card-heart {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  display: flex;
  p {
    margin-right: 5px;
    font-size: 14px;
  }
  a {
    color: white;
  }
}

.delete {
  position: absolute;
  bottom: 5px;
  color: white;
  right: 5px;
  a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
  }
}
