/* Main navbar */
.navbar-emile {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: linear-gradient(to right, #363E8D, #0575E6);
  transition: all 0.3s ease;
  height: 10vh;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .fa {
    color: white;
  }
}

.big-title {
  color: white;
  margin: auto;
}
@media (max-width: 500px) {
  .big-title h1 {
    font-size: 18px;
    margin: auto;
  }
}

.return {
  color: white;
}
/* Right section */
.navbar-emile-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Basic navbar item */
.navbar-emile-item {
  cursor: pointer;
  padding: 0 20px;
  h1 {
    font-size: 16px;
    color: white;
    margin-right: 20px;
    width: 250px;
    padding-bottom: 15px;
  }
}

.elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Navbar link */
.navbar-emile-link {
  color: white;
  font-size: 14px;
}
.navbar-emile-link:hover {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-emile-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: $pink;
}
.navbar-emile-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $blue !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-emile-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-emile-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
