.date .control-label {
  margin-top: 0px;
}
#user_birth_date_1i, #user_birth_date_2i {
  width: 90px;
}
#user_birth_date_3i {
  width: 70px;
  margin-left: 30px;
}
.date .control-label {
  font-size: 16px;
}
.help-block {
  color: white;
  font-size: 10px;
  text-align: center;
}
.form-control {
  font-size: 16px;
}
@media (min-width: 50px) {
  .form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
  }
}
@media (min-width: 500px) {
  #user_birth_date_3i {
    margin-left: 120px;
  }
}
.input[readonly] {
  color: #f4f4f4;
}
.baseline h2 {
  font-size: 20px;
  margin-top: 0px;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: white !important;
}
